<div class='container'>
  <%= link_to 'Back to View All Patients', root_path %>
  <div class='border'>
    <div class='gray-background'>
      <h2 class='header'>Emergency Transfer Summary (Form 34L-D)</h2>
    </div>
    <div>
      <h3 class='header'>Transferring Facility</h3>
    </div>
    <div class='small-width'>
      <p>Name</p>
      <p><%= @facility %></p>
    </div>
    <div class='border-top'>
      <h3 class='header'>Patient Information</h3>
    </div>
    <div class='flex'>
      <div class='border-right'>
        <p>First Name</p>
        <p><%= @patient.first_name %></p>
      </div>
      <div class='border-right'>
        <p>Middle Name</p>
        <p><%= @patient.middle_name %></p>
      </div>
      <div class='border-right'>
        <p>Last Name</p>
        <p><%= @patient.last_name %></p>
      </div>
      <div class='border-right'>
        <p>Medical Record (MR)</p>
        <p><%= @patient.mr %></p>
      </div>
    </div>
    <div>
      <h3 class='header'>Summary</h3>
    </div>
    <div>
      <p>
        This <%= @patient.age %> years old <%= @patient.gender %> was admitted to <%= @facility %> <%= date_sentence(@patient.admission&.moment) %> due to <%= to_sentence(@patient.admission&.diagnoses, "diagnoses") %>.
        The observed symptoms on admission were <%= to_sentence(@patient.admission&.symptoms, "symptoms") %>. <%= to_sentence(@patient.admission&.observations, "observations").capitalize %>.
      </p>
      <p>
        Upon asking about known allergies, the patient disclosed <%= to_sentence(@patient.allergies, "allergies") %>. Upon asking about chronic conditions, the patient disclosed
        <%= to_sentence(@patient.chronic_conditions, "chronic conditions") %>. The patient was administered with <%= medications(@patient.medication_orders) %>.
      </p>
      <p>
        The staff performed <%= to_sentence(@patient.diagnostic_procedures, "diagnostic procedures") %>, revealing <%= to_sentence(@patient.chronic_conditions, "chronic conditions") %>. Our team proceeded to <%= to_sentence(@patient.treatments, "treatments") %>.
      </p>
    </div>
  </div>
</div>
<button class='btn btn-primary' id='btn' onclick='window.print();'>Print Me</button>
